html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	box-sizing: border-box;
	--font-size: 1.2vw;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
a {
	color: inherit;
}
/* @import-normalize; */

.container {
	padding: calc(5% + 30px) 5% 5%;
	overflow: hidden;
	background-image: url(/tableTop1.jpg);
	background-size: cover;
}

.imgbox {
	position: absolute;
	background-image: url(/portrait0.jpg);
	/* ,radial-gradient(closest-side, transparent, #c0c0c0); */
	/* background-blend-mode: color-burn; */
	width: 20vw;
	height: 52vw;
	top: 17vw;
	left: 25vw;
	overflow: hidden;
	background-size: contain;
	transform: rotate(-30deg);
}

.book {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.page {
	height: 100%;
	padding: 5% 5%;
	background-color: #fdfaf7;
	color: #22180a;
	border: solid 1px #c2b5a3;
}

.page.--left {
	border-right: 0;
	box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right {
	border-left: 0;
	box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right .footer {
	text-align: right;
}
.page-content {
	height: 100%;
	overflow: hidden;
}
.footer {
	position: absolute;
	width: 80%;
	height: 7.5%;
	bottom: 0;
	border-top: 1px solid #b4a897;
}
.page
	.page-content:not([id="frontCover"]):not([id="backCover"])
	> div:nth-child(2),
#frontCover > div,
#backCover > div {
	width: 100%;
	height: 100%;
}
/* This one's here because it can only use global selectors */
.stf__block > .page:first-child {
	/* background: linear-gradient(90deg, rgba(154,145,122,1) 6%, rgba(246,240,207,1) 48%); */
	background-image: url(/notecover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bookmark {
	position: absolute;
	top: -12%;
	left: 35%;
	border-left: 2px solid #888178;
	border-top: 1px solid #c4baae;
	border-radius: 5px;
	box-shadow: 3px 9px 9px 9px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	width: 10%;
	opacity: 1;
	transform: rotate(-10deg);
	transition: top 1.5s cubic-bezier(0.45, 1.88, 0.67, 0.84),
		transform 0.3s ease-in 1s;
	z-index: -1;
}
.bookmark.hide {
	top: -55%;
	opacity: 0;
	transform: none;
	transition: transform 1s ease-out;
	animation: drop 1s ease-out;
	z-index: 1;
}
@keyframes drop {
	0% {
		top: -55%;
		left: 35%;
		opacity: 1;
	}
	100% {
		top: 15%;
		left: 55%;
		opacity: 0;
	}
}

#toc {
	overflow: visible;
}

.text {
	font-size: var(--font-size);
	text-align: justify;
	text-justify: auto;
}
.text > p::first-letter {
	font-size: calc(var(--font-size) * 1.5);
	font-family: "Time New Roman";
}
@media only screen and (max-width: 630px) {
	.text {
		font-size: calc(var(--font-size) * 2);
	}
	.text > p::first-letter {
		font-size: calc(var(--font-size) * 3);
	}
}
